*.swp
*.sdf
/Android/playback/gen/*
/Android/playback/obj/*
/Android/playback/bin/*
/Android/playback/.settings/*
/Android/test/gen/*
/Android/test/bin/*
/Android/test/.settings/*
/Wins/common/Debug/*
/Wins/common/common.vcxproj.user
/Wins/Debug/*
/Wins/AACDecoder/*
/Wins/ipch/*
/Wins/PlayBack/Debug/*
/Wins/PlayBack/PlayBack.vcxproj.user
/Wins/PlayBackTest/Debug/*
/Wins/PlayBackTest/*.sdf
/Wins/PlayBackTest/PlayBackTest.vcxproj.user
