*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/vcs.xml
/.idea/copyright/profiles_settings.xml
/.idea/misc.xml
/yinchao-player/gradle.properties
