*.obj
*.htm
*.user
*.lib
*.dll
*.ncb
*.suo
*.filters
*.vcxproj
*.sdf
*.XML
*.css
*.xslt
*.gif
*.ipch
*.o
*.o.d
*.so
Debug/
.DS_Store
*.xcuserdatad/

*.log
*.tlog
*.idp
*.pdb
*.ipdb
*.VC.db
/media/player/win32test/Release
/media/player/win32test/Backup
/win32libs